  .custom-btn {
    border-radius: 0; 
  }

  .custom-btn:hover {
    background-color: #dc3545;
    color: #fff; 
  }
    .form-control.border-bottom {
    border-bottom: 1px solid #000 !important;
  }
    .custom-form {
    font-family: 'Poppins', sans-serif; 
    font-size: 1.1rem;
  }
    .btn-black {
    background-color: #000;     
    color: #fff;                
    border: 1px solid #000;     
    transition: all 0.3s ease;    
    font-family: 'Poppins', sans-serif; 
    font-size: 1.1rem; 
  }

  .btn-black:hover {
    background-color: #fff;   
    color: #000;                
    border: 1px solid #000;     
  }